/**********************************************************
  Add Google Fonts
**********************************************************/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Nunito:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');


/**********************************************************
  Reset Default Properties Start
**********************************************************/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    box-shadow: 0 0 .4rem rgba(0, 0, 0, 0.288) inset;
    background-color: var(--white);
    border-radius: 5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 7rem;
}


html {
    font-size: 62.5%;
    /* Now 1rem = 1em = 10px */

    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/**********************************************************
    Variables Start
**********************************************************/
:root {

    /* Theme Colors */
    --black: #000;
    --white: #fff;
    --primary-color: #0000ff;
    --main-color: #153356;
    --text-color: #303030;
    --helping-color: #00004c;
    --light-white: #7f7fff;
    --grey-color: #5f5f5f;

    /* Theme Fonts */
    --font-family-1: 'Poppins', sans-serif;
    --font-family-2: 'Oswald', sans-serif;
}

/**********************************************************
    Variables End
**********************************************************/



/**********************************************************
  Common Properties to Frequently Used Elements Start
**********************************************************/
body {
    /* Following Properties Will be Inherited by All the Elements */
    text-transform: uppercase;
    font-family: var(--font-family-1);
}

a {
    text-decoration: none;
    display: inline-block;
    transition: all .3s linear;
}

li {
    list-style-type: none;
}

button {
    border: none;
    cursor: pointer;
    padding: 1.4rem 2.5rem;
    color: var(--white);
    border-radius: 4rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1.1px;
    font-family: var(--font-family-1);
    transition: all .3s linear;
    background-color: transparent;
}

input,
textarea {
    outline: none;
}

img {
    max-width: 100%;
    display: inline-block;
    object-fit: cover;
}

h1 {
    font-weight: 600;
}

h2,
h3 {
    font-weight: 500;
}


p {
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: .06px;
    word-spacing: .08rem;
}

/**********************************************************
    Common Properties to Frequently Used Elements End
**********************************************************/


/***********************************************************************************************
  Actual Document Styling Start
***********************************************************************************************/


/**********************************************************
  Wrapper Start
**********************************************************/
.wrapper {
    width: 100vw;
    height: auto;
}


/**********************************************************
  Header Start
**********************************************************/
header {
    width: 100%;
    background-image: linear-gradient(rgb(0 0 0 / 34%), transparent), url(../assets/images/hero-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}


/**********************************************************
  Nav Start
**********************************************************/
nav {
    padding-block: 1rem;
    position: relative;
    background: #153356;
    backdrop-filter: blur(3px);
}


/**********************************************************
  Logo
**********************************************************/
.logo-box img {
    height: 5rem;
}


.logo-box h2 {
    font-size: 2.2rem;
    font-weight: 500;
    margin-left: 1rem;
    letter-spacing: 1.2px;
    color: var(--white);
}


/**********************************************************
  Nav Links
**********************************************************/
.nav-links ul {
    gap: 3.5rem;
}

.nav-links ul li a {
    color: var(--white);
    font-size: 1.29rem;
    letter-spacing: .08rem;
    transform: scale(1);
    font-weight: 500;
}



/**********************************************************
  Toggle Button
**********************************************************/
.mobile-toggle-btn {
    font-size: 2.5rem;
    color: var(--white);
    display: none;
}


/**********************************************************
  Social Media Iocns
**********************************************************/
nav .social-media-icons {
    gap: 2.2rem;
}

nav .social-media-icons a {
    font-size: 2rem;
    color: var(--white);
    transform: scale(1);
}

@media (hover:hover) {

    .nav-links ul li:first-child a,
    .nav-links ul li a:hover,
    nav .social-media-icons a:hover {
        transform: scale(1.14);
    }
}

/**********************************************************
  Nav End
**********************************************************/


/**********************************************************
  Hero Text Start
**********************************************************/
#hero-text {
    min-height: 90vh;
}

#hero-text h2 {
    font-size: 1.5rem;
    letter-spacing: 1.1px;
    font-weight: 600;
    margin-top: -5rem;
    color: var(--main-color);
    background-color: white;
    padding: .3rem .6rem;
    border-radius: .4rem;
    transition: all .3s linear;
    cursor: pointer;
}

#hero-text h1 {
    font-size: 12rem;
    font-family: var(--font-family-2);
    -webkit-text-stroke: 1.8px var(--white);
    -webkit-text-fill-color: rgba(255, 255, 255, 0.023);
    letter-spacing: 1.3px;
    margin-left: -.4rem;
    margin-top: -3rem;
}

#hero-text h3 {
    color: var(--white);
    font-size: 1.8rem;
    letter-spacing: 1.1px;
    margin-block: -.7rem 2rem;
}

#hero-text .hero-btn {
    background-color: var(--main-color);
    color: var(--white);
}

@media (hover:hover) {
    #hero-text .hero-btn:hover {
        background-color: var(--white);
        color: var(--main-color);
    }
}

/**********************************************************
  Hero Text End
**********************************************************/

/**********************************************************
  Header End
**********************************************************/



/**********************************************************
   Services Section Start
**********************************************************/

.service-box {
    border-right: 1px solid var(--grey-color);
    padding: 2rem;
    transition: all .3s linear;
    background-color: var(--white);
    cursor: pointer;
}

.service-box:last-child {
    border: none;
}

@media (hover:hover) {
    .service-box:hover {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.265) inset;
    }
}


.service-box .service-icon {
    font-size: 3rem;
    color: var(--grey-color);
    margin-bottom: 1.2rem;
}

.service-box h3 {
    font-size: 2.2rem;
    color: var(--helping-color);
    margin-bottom: 1.1rem;
    font-family: var(--font-family-1);
}


.service-box p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 1.2rem;
}

.service-box .service-btn {
    font-size: 1.3rem;
    color: var(--helping-color);
    letter-spacing: normal;
}

.service-box .service-btn i {
    font-size: 2.2rem;
    padding: 8px;
}

@media (hover:hover) {
    .service-box .service-btn:hover {
        color: var(--primary-color);
    }
}

/**********************************************************
   Services Section End
**********************************************************/


/**********************************************************
   Offer Section Start
**********************************************************/
.offer-content {
    background-color: rgb(238, 238, 238);
    padding: 5rem;
}

.offer-content>h3 {
    font-size: 1.8rem;
    color: var(--grey-color);
    margin-bottom: 1.5rem;
}

.offer-content>h2 {
    font-size: 2.5rem;
    color: var(--helping-color);
    margin-bottom: 1.4rem;
}

.offer-content>p {
    font-size: 1.3rem;
    color: var(--text-color);
}

.offer-content .price h4 {
    margin-block: 3.5rem;
    font-size: 4rem;
    color: var(--primary-color);
    letter-spacing: 1.1px;
}

.offer-content .price h4 span {
    font-size: 2rem;
    color: var(--text-color);
    padding-left: 2px;
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    letter-spacing: initial;
}


/**********************************************************
   Offer Section Countdown
**********************************************************/
.offer-content .countdown {
    gap: 1.5rem;
}

.offer-content .countdown .time-box {
    width: 8.5rem;
    padding-block: 2rem;
    background-color: var(--white);
    border-radius: 1.2rem;
    gap: 1rem;
    cursor: pointer;
    transition: all .3s linear;
}


.offer-content .countdown .time-box .time-digit {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: bold;
}

.offer-content .countdown .time-box .time-text {
    color: var(--text-color);
    font-size: 1.2rem;
    border-top: 1.5px solid var(--black);
    padding-top: .7rem;
    font-weight: 400;
}


@media (hover:hover) {

    .offer-content .countdown .time-box:hover {
        background-color: var(--primary-color);
    }

    .offer-content .countdown .time-box:hover .time-digit,
    .offer-content .countdown .time-box:hover .time-text {
        color: var(--white);
        border-top-color: var(--white);
    }

}

.offer-content .offer-btn {
    margin-top: 4rem;
}


.offer-img img {
    width: 100%;
    height: 100%;
}

/**********************************************************
   Offer Section End
**********************************************************/



/**********************************************************
   Shoes Cards Row Start
**********************************************************/
.shoes-card {
    min-height: 25rem;
    padding: 3rem;
    border-right: 1px solid var(--grey-color);
    background-color: var(--white);
    cursor: pointer;
}

.shoes-card:last-child {
    border: none;
}

@media (hover:hover) {
    .shoes-card:hover>img {
        transform: scale(1.05);
    }
}

.shoes-card img {
    height: 15rem;
    max-width: 100%;
    transform: scale(1);
    transition: all .3s linear;
}


.shoes-card h3 {
    color: var(--helping-color);
    margin-block: 1rem;
    font-size: 1.8rem;
}

.shoes-card h4 {
    color: var(--primary-color);
    font-size: 1.9rem;
}

.shoes-card h4 span {
    color: var(--text-color);
    padding-left: .4rem;
    font-size: 1.5rem;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

/**********************************************************
   Shoes Cards Row End
**********************************************************/

/**********************************************************
   Three Banner Section Start
**********************************************************/
#three-banner-section {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 35rem;
    border-top: 1px solid var(--grey-color);
    border-bottom: 1px solid var(--grey-color);
}

.three-banner {
    padding: 3rem 0 3rem 3rem;
    background-color: var(--white);
    color: var(--white);
}

.three-banner-1,
.three-banner-3 {
    background-image: linear-gradient(rgba(0, 0, 255, 0.539), rgba(0, 0, 0, 0.63)), url("../assets/images/gallery-1.jpg");
    background-size: cover;
    background-position: center;
}

.three-banner-1 h2 {
    font-size: 4rem;
    letter-spacing: 1.2px;
    line-height: 1.2;
    margin-bottom: 1.4rem;
}

.three-banner-1 h4 {
    font-weight: 400;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.three-banner-2 img {
    height: 14rem;
}

.three-banner-2 h3 {
    font-size: 2.8rem;
}

.three-banner-2 h4 {
    font-size: 2.5rem;
}

.three-banner-2 h4 span {
    font-size: 1.8rem;
}

.three-banner-3 {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 26, 255, 0.395)), url("../assets/images/girl-music-1.jpg");
}

.three-banner-3 h1 {
    width: 80%;
    max-width: 30rem;
    color: var(--white);
    font-size: 5rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

/**********************************************************
   Three Banner Section End
**********************************************************/


/**********************************************************
   Biggest Sale Section Start
**********************************************************/
#biggest-sale-section {
    padding: 5rem 5%;
    background-color: rgb(238, 238, 238);
    text-align: center;
}

#biggest-sale-section h1 {
    color: var(--helping-color);
    font-size: 3.5rem;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

#biggest-sale-section p {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}

/**********************************************************
   Biggest Sale Section End
**********************************************************/


/**********************************************************
   Gallery Section Start
**********************************************************/
.gallery-box {
    height: 30rem;
    background-image: url("../assets/images/gallery-1.jpg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
    position: relative;
}

@media (hover:hover) {
    .gallery-box:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.317), rgba(0, 0, 0, 0.322));
    }

    .gallery-box:hover::before {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    }
}

.gallery-box:nth-child(2) {
    background-image: url("../assets/images/gallery-2.jpg");
}

.gallery-box:nth-child(3) {
    background-image: url("../assets/images/gallery-3.jpg");
}

.gallery-box:nth-child(4) {
    background-image: url("../assets/images/gallery-4.jpg");
}

.gallery-box:nth-child(5) {
    background-image: url("../assets/images/gallery-2.jpg");
}

.gallery-box:nth-child(6) {
    background-image: url("../assets/images/gallery-4.jpg");
}

.gallery-box:nth-child(7) {
    background-image: url("../assets/images/gallery-3.jpg");
}

.gallery-box:nth-child(8) {
    background-image: url("../assets/images/gallery-1.jpg");
}

/**********************************************************
   Gallery Section End
**********************************************************/


/**********************************************************
   Brands Section Start
**********************************************************/
#brands-section {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.brand-box {
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--grey-color);
    border-top: 1px solid var(--grey-color);
    cursor: pointer;
}

#brands-section .brand-box:nth-child(6),
#brands-section .brand-box:last-child {
    border-right: none;
}


.brand-box img {
    height: 10rem;
    transform: scale(1);
    transition: all .3s linear;
}

@media (hover:hover) {
    .brand-box:hover img {
        transform: scale(1.08);
    }
}

/**********************************************************
   Brands Section End
**********************************************************/


/********************************************************** 
  Footer Start
**********************************************************/
footer {
    background-color: var(--grey-color);
    padding-block: 6rem;
}

.footer-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
}

.footer-links-box {
    padding-left: 10%;
}

.footer-links-box h3 {
    color: var(--black);
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.footer-links-box li a {
    color: var(--white);
    padding: 3px;
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    letter-spacing: .04px;
}

@media (hover:hover) {
    .footer-links-box li a:hover {
        color: var(--text-color);
    }
}

.footer-links-box .social-media-icons {
    gap: 1.5rem;
    margin-bottom: 3rem;
}


.footer-links-box .social-media-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 2.2rem;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 2;
    border: 2px solid var(--white);
}

@media (hover:hover) {
    .footer-links-box .social-media-icons a::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--black);
        transition: all .3s linear;
        z-index: -1;
        cursor: pointer;
    }

    .footer-links-box .social-media-icons a:hover::after {
        top: 0;
    }
}


.footer-links-box .footer-btn {
    background-color: var(--black);
}

@media (hover:hover) {
    .footer-links-box .footer-btn:hover {
        background-color: var(--white);
        color: var(--black);
    }
}

/********************************************************** 
  Footer End
**********************************************************/



/***********************************************************************************************
  Actual Document Styling End
***********************************************************************************************/